body {
    height: 100vh;
    width: 100vw;
    padding: 0%;
    margin: 0%;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    grid-template-areas:
        /* "sd hd" */
        "sd md";
}







/* =====================================================================TABLE======================================================================= */

#table {
    /* margin-top: 5px; */
    border-spacing: 0px;
    margin-bottom: 4px;
    margin-right: 4px;
    grid-area: md;
    pointer-events: all;
    height: 99vh;
}

#table-disabled {
    border-spacing: 0px;
    margin-bottom: 4px;
    margin-right: 4px;
    grid-area: md;
    pointer-events: none;
    height: 99vh;
}

#tableContainer>tr>td {
    width: 20px;
    height: 20px;
}

/*=============================================================SIDE BAR=========================================================================== */

#side-bar {
    grid-template-columns: 1fr;
    grid-area: sd;
    background-color: white;
    width: 250px;
    display: grid;
    height: 99vh;
}

#side-bar-disabled {
    pointer-events: none;
}


/* -----------------------------------------------------------------LOGO----------------------------------------------------------------------------------------- */
#logo {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 20%;
    color: #343a40;
}

/* ------------------------------------------------------------LIST------------------------------------------------------------------------- */

.menu {
    margin-top: 25%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(36, 36, 36);
    padding-left: 0%;
}

.inactive {
    color: rgb(175, 175, 175) !important;
    pointer-events: none;
}

.active {
    color: #66DE93 !important;
}

.active:hover {
    color: #00FFAB !important;
}


.menu-disabled {
    color: rgb(175, 175, 175);
}

.menu>li {
    /*Make space between logo, left-side and menu. Make toggle area bigger for sub-menu */
    height: max-content;
    margin-bottom: 15%;
    margin-left: 13%;
}

.menu>li * {
    /*Make sub-menu to each menu item in one line, for animation*/
    display: inline;
}

.menu>li>ul {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: -0.5%;
    border-radius: 4px;
}

li:hover {
    cursor: pointer;
}

ul li ul li {
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.5s;

}

a {
    transition: 0.5s all;
}


.menu>*::after {
    content: "\003e";
    font-family: 'Montserrat', sans-serif;
    color: rgb(36, 36, 36);
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    left: 227px;
    transform: translateX(5px);
    display: inline;
    transition: all 0.5s;
}

.menu>*:hover::after {
    visibility: visible;
    opacity: 1;
    display: inline;
    transform: translateX(12px);
    transition: all 0.5s;
    color: #248AFF;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    left: 250px;
    padding-left: 0%;
    background-color: white;
    transition: all 0.5s;
    transform: translateX(10px);
    /* border: 1px solid rgb(36, 36, 36); */
    box-shadow: 1px 1px 2px grey;

}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: inline;
    transform: translateX(0px);
}


.menu>li:hover,
.maze-container a:hover {
    color: #248AFF;
}

.menu>li>ul>li:hover {
    color: #248AFF;
}

.menu>li>ul>li:not(:hover) {
    color: rgb(36, 36, 36);
}


/*-------------------------------------------------------Side bar buttons--------------------------------------------------------------------------------------------------------------------------------  */

#side-bar-buttons-container {
    display: grid;
    align-content: space-evenly;
}

.side-bar-buttons {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 2px;
    height: fit-content;
    color: rgb(36, 36, 36);
    background-color: unset;
    border-style: none;
    border: 1px solid rgb(36, 36, 36);
    margin-right: 5%;
    margin-left: 5%;
    transition: all 0.3s;
    border-radius: 4px;
}

#play-btn:hover {
    cursor: pointer;
    color: #3CCF4E;
    border: 1px solid #3CCF4E;

}

#side-bar-clear-buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#side-bar-clear-buttons-container * {
    margin-top: 10px;
    font-size: 14px;
}

#clear-path-btn:hover {
    cursor: pointer;
    color: #FBCB0A;
    border: 1px solid #FBCB0A;
}

#clear-path-btn-disabled {
    color: #EB1D36;
    border: 1px solid #EB1D36;
}

#clear-board-btn:hover {
    cursor: pointer;
    color: #FBCB0A;
    border: 1px solid #FBCB0A;
}

#clear-board-btn-disabled {
    color: #EB1D36;
    border: 1px solid #EB1D36;
}

#play-btn-disabled {
    color: #EB1D36;
    border: 1px solid #EB1D36;
}

/*==========================================================SLIDER================================================================================*/

#slider-container {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}

#slider {
    overflow: hidden;
    height: 20px;
    -webkit-appearance: none;
    background-color: #ddd;
    border-radius: 20px;
    max-width: 100%;
    outline: 0;
    border: 0;
}

#slider::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -340px 0 0 330px #1597ff, inset 0 0 0 20px #1597ff;
    border-radius: 20px;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;

}

#slider-disabled {
    overflow: hidden;
    height: 20px;
    -webkit-appearance: none;
    background-color: #ddd;
    border-radius: 20px;
    max-width: 100%;
    outline: 0;
    border: 0;
    pointer-events: none;
}

#slider-disabled::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -340px 0 0 330px #EB1D36, inset 0 0 0 20px #EB1D36;
    border-radius: 20px;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;

}


/*-----------------------------------------------------------------------Info----------------------------------------------------------------  */

#algorithm-response-selected {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #0F3460;
    font-size: 12px;
    margin-bottom: 5px;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 8px;
}

#algorithm-response-selected::before,
#algorithm-response-selected::after {
    content: "";
    background-color: #0F3460;
    margin-top: 6.5px;
    height: 1px;
    width: 15px;
    align-self:baseline;
}

#algorithm-response-none {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #EB1D36;
    font-size: 12px;
    margin-bottom: 5px;
    justify-self: center;
}

#info-text-container {
    margin-left: 3%;
    margin-top: 20px;
    padding: 0px;
    display: grid;
    height: 60px;
    grid-template-columns: max-content max-content;
    column-gap: 15px;
    row-gap: 10px;
    margin-bottom: 50px;
}


#info-text-container>div {
    color: rgb(36, 36, 36);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 3.5%;
    width: max-content;
}

#info-text-container>div>img {
    float: left;
    margin-right: 5px;
    width: 15px;
    height: 20px;
}

#unvisited-cell {
    margin-right: 5px;
    float: left;
    border: 2px solid #CFD2CF;
    height: 15px;
    width: 15px;
}

#visited-cell {
    margin-right: 5px;
    float: left;
    background-color: #66DE93;
    /* border: 2px solid #8d9195; */
    height: 18px;
    width: 18px;
}

#shortest-path-cell {
    margin-right: 5px;
    float: left;
    background-color: #fbfe52;
    /* border: 2px solid #8d9195; */
    height: 18px;
    width: 18px;
}

#wall-cell {
    margin-right: 5px;
    float: left;
    background-color: #3A3845;
    /* border: 2px solid #73777B; */
    height: 18px;
    width: 18px;
}


#algo-description {
    width: 350px;
    margin-left: 40%;
}



/*=================================================================================================================================================*/





/*=========================================================TABLE ANIMATION======================================================================================= */

/* ------------------------------------------------------START AND FINISH POINTS--------------------------------------------------------------------- */
.start {
    background-image: url("../images/start1.png");
    background-repeat: no-repeat;
    background-position: center;
}

.start-shortest-path {
    background: url("../images/start1-path.png"), #fbfe52;
    background-repeat: no-repeat;
    background-position: center;
}

.finish {
    background-image: url("../images/finish.png");
    background-repeat: no-repeat;
    background-position: center;
}

.finish-shortest-path {
    background: url("../images/finish-path.png"), #fbfe52;
    background-repeat: no-repeat;
    background-position: center;
}





/* -----------------------------------------------------------------WALL AND UNVISITED ------------------------------------------------------------------ */

.wall {
    background-color: #3A3845;
    border: 1px solid #3A3845;
    animation-name: wallNodeAnimation;
    animation-duration: 0.5s;
}

@keyframes wallNodeAnimation {
    from {
        transform: translate(0px, 30%);
        opacity: 0.5;
    }

    to {
        transform: translate(0px, 0%);
        opacity: 1;
    }
}

.unvisited {
    border: 1px solid #CFD2CF;
    /* animation-name: unvisitedNodeAnimation; */
    /* animation-duration: 0.5s; */
}

@keyframes unvisitedNodeAnimation {

    0% {
        transform: scale3d(1, 1, 1);
        background-color: #73777B;
        border: 1px solid #73777B;
    }

    75% {
        transform: scale3d(0.5, 0.5, 0.5);
        background-color: #73777B;
        border: 1px solid #73777B;
    }

    100% {
        transform: scale3d(0, 0, 0);
        background-color: #73777B;
        border: 1px solid #73777B;
    }

}

/* -------------------------------------------------------------VISITED 1 ANIMATION -------------------------------------------------------------------------*/

.visited-slider {
    background-color: #80ed99;
    border: 1px solid#8d9195;
}


.visited {
    background-color: #80ed99;
    border: 1px solid #8d9195;
    animation-name: visitedNodeAnimation;
    animation-duration: 2s;


}

@keyframes visitedNodeAnimation {

    0% {
        transform: scale3d(0.5, 0.5, 0.5);
        background-color: #FF1700;
        border-radius: 3px;
    }

    25% {
        background-color: #22577a;
        transform: scale3d(0.6, 0.6, 0.6);
        border-radius: 3px;
    }

    50% {
        background-color: #38a3a5;
        transform: scale3d(0.8, 0.8, 0.8);
        border-radius: 3px;
    }

    75% {
        background-color: #57cc99;
        transform: scale3d(1.1, 1.1, 1.1);
        border-radius: 3px;
    }

    100% {
        background-color: #80ed99;
        transform: scale3d(1, 1, 1);
        border-radius: 3px;
    }
}




/* -----------------------------------------------------SHORTEST PATH ANIMATION---------------------------------------------------------------------- */
.shorthest-path-slider {
    background-color: #FFFE6A;

}

.shorthest-path {
    background-color: #FFFE6A;
    animation: shortestPath;
    animation-duration: 2s;


}

@keyframes shortestPath {
    0% {
        background-color: #FEFFDD;
    }

    25% {
        background-color: #FDFFB7;
    }

    50% {
        background-color: #FAFE66;
    }

    100% {
        background-color: #fbfe52;
    }
}